<html>
    <head>
        <title>Admin login</title>
        <script src="/js/jquery-3.6.0.js"></script>
        <script src = "/js/login.js"></script>
    </head>
    <body>
        <fieldset>
            <form id="loginForm">
                <p id="errMsg" style="color: red;"></p>
                <label>Email</label>
                <input type="text" id="emailId"><br>
                <label>Password</label>
                <input type="password" id="passWord"><br>           
                <input type="submit" value="Login"><br>
                <input type="submit" value="Register" id="regBtn">
            </form>
        </fieldset>
    </body>
</html>