<html>
    <head>
        <title>Admin Register</title>
        <script src="/js/jquery-3.6.0.js"></script>
        <script src = "/js/reg.js"></script>
    </head>
    <body>
        <fieldset>
            <form id="regForm">
                <label>Name</label>
                <input type="text" id="adminName"><br>
                <label>Email</label>
                <input type="text" id="emailId"><br>
                <label>Password</label>
                <input type="password" id="passWord"><br>  
                <label>Confirm Password</label>
                <input type="password" id="confirmPswd"><br>          
                <input type="submit" value="Register"><br>
                
            </form>
        </fieldset>
    </body>
</html>